<footer class="mt-[33dvh] pb-md mx-auto flex justify-center">
  <div class="flex flex-row gap-sm items-center text-center">
    <span class="text-sm">Gabriella Cardoso</span>
    <span class="text-xs">•</span>
    <span class="text-sm">{new Date().getFullYear()}</span>
  </div>
</footer>
